{% extends 'base.html.twig' %}

{% block title %}Hello ProjetController!{% endblock %}

{% block body %}
    <h1>! BIENVENUE !</h1>
    <p>lien vers <a href="{{ path('adresse_index') }}"> adresses </a></p>
    <p>lien vers <a href="{{ path('liste_index') }}"> listes</a></p>
    <p>lien vers <a href="{{ path('cadeau_index') }}"> cadeaux </a></p>
    <p>lien vers <a href="{{ path('personne_index') }}"> personnes</a></p>
    <p>lien vers <a href="{{ path('categorie_index') }}"> catégories</a></p>
{% endblock %}
