{% extends 'base.html.twig' %}

{% block title %}Liste{% endblock %}

{% block body %}
    <h1>Liste</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Liste de : </th>
                <td>{{ liste.personne }}</td>
            </tr>
            <tr>
                <th>Cadeaux de la liste : </th>
                {% for cadeaux in liste.cadeau %}
                <td>| {{ cadeaux.designation }} |</td>
                {% endfor %} 
            </tr>

            </tr>
        </tbody>
    </table>
    

    <a href="{{ path('liste_index') }}">back to list</a>

    <a href="{{ path('liste_edit', {'id': liste.id}) }}">edit</a>

    {{ include('liste/_delete_form.html.twig') }}
{% endblock %}
