{% extends 'base.html.twig' %}

{% block title %}Adresse index{% endblock %}

{% block body %}
  
    <h1>LIENS VERS INDEX : </h1>

        <p>Lien vers <a href="{{ path('adresse_index') }}"> adresses</a></p>
        <p>Lien vers <a href="{{ path('personne_index') }}"> personnes </a></p>
        <p>Lien vers <a href="{{ path('categorie_index') }}"> categories</a></p>
        <p>Lien vers <a href="{{ path('cadeau_index') }}"> cadeaux </a></p>
        <p>Lien vers <a href="{{ path('liste_index') }}"> liste </a></p>

    <h1>RACCOURCIS VERS QUESTIONS : </h1>

       <p> 1) <a href="{{ path('adresse_index') }}"> Lister toutes les adresses </a></p>
       <p> 2) <a href="{{ path('adresse_show', { 'id':1}) }}"> Afficher une adresse (adresse n°1)</a></p>
       <p> 3) <a href="{{ path('adresse_new') }}"> Ajout d'adresse </a></p>
       <p> 4) <a href="{{ path('adresse_edit', { 'id':1}) }}"> Modifier une adresse (adresse n°1)</a></p>
       <p> 5)</p>
       <p> 6)</p>
       <p> 7) <a href="{{ path('personne_index') }}"> Lister toutes les personnes </a></p>
       <p> 8) <a href="{{ path('personne_show', { 'id':1}) }}"> Afficher une personne (personne n°1)</a></p>
       <p> 9) <a href="{{ path('personne_new') }}"> Ajout d'une personne </a></p>
       <p> 10)</p>
       <p> 11) <a href="{{ path('personne_delete', { 'id':1}) }}) }}"> Suppression d'une personne (personne n°1)</a></p>
       <p> 12)</p>
       <p> 13) <a href="{{ path('cadeau_index') }}"> Lister tous les cadeaux </a></p>
       <p> 14) <a href="{{ path('adresse_show', { 'id':1}) }}"> Afficher un cadeau (cadeau n°1)</a></p>
       <p> 15) <a href="{{ path('adresse_new') }}"> Ajout d'un cadeau </a></p>
       <p> 16)</p>
       <p> 17)</p>
       <p> 18)</p>
       <p> 19)</p>







{% endblock %}
