{% extends 'base.html.twig' %}

{% block title %}Accueil - projet web du père Noël{% endblock %}

{% block body %}
  
    <p><a href="{{ path('adresse_index') }}"> adresses</a></p>
    <p><a href="{{ path('personne_index') }}"> personnes </a></p>
    <p><a href="{{ path('categorie_index') }}"> categories</a></p>
    <p><a href="{{ path('cadeau_index') }}"> cadeaux </a></p>
    <p><a href="{{ path('liste_index') }}"> listes </a></p>

{% endblock %}
